<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
-->

<header id="header2"> 
        
    <!-- header-inner -->    
    <div class="header-inner">
        
        <div id="collapse-button" style="display: none;">
        <span></span>
        <span></span>
        <span></span>
        </div>


            <span id="sidebar-toggle-span" style="padding-left:15px;">
                <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
                  <i class="fas fa-bars"></i> Navigation
                </a>
            </span>



   
       
    
    <!-- top-navigation -->
    <nav id="nav" class="main-navigation" role="navigation" style="">
    <div class="menu-topnav-container"><ul id="menu-topnav" class="nav-menu"><li id="menu-item-581" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-581"><a href="https://griddb.net/en/docs/documents/1-1_what-is-griddb.php">Docs</a></li>
    <li id="menu-item-681" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-681"><a href="https://griddb.net/en/faq/">FAQ</a></li>
    <li id="menu-item-671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-671"><a href="https://griddb.net/en/community/">Community</a></li>
    <li id="menu-item-591" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-591"><a href="https://griddb.net/en/forums/forum/top/">Forum</a></li>
    <li id="menu-item-291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-291"><a href="https://griddb.net/en/blog">Blog</a></li>

    </ul>

    </div>
        
        <li style="list-style:none"><a href="https://griddb.net/en/downloads/"> <span class="download-button4" style="display:none"> DOWNLOAD</span></a></li>
        
            <!--- Download Button  -->
           <a href="https://griddb.net/en/downloads/"> <span id="download-button"> Download</span></a>
     <!-- / Download Button   --> 
        
    </nav>
    <!-- / top-navigation -->
         
    </div>        
        
    </header>
    
    