<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
-->

<header id="header2"> 
        
    <!-- header-inner -->    
    <div class="header-inner">
        
        <div id="collapse-button" style="display: none;">
        <span></span>
        <span></span>
        <span></span>
        </div>
       
        
        
    <!-- Lang Switch Mobile -->
        <span class="switch-mobile" style="display:none">
            <div class="ui dropdown">
              <input name="Language">
              <i class="dropdown icon"></i>
              <div class="default text"><i class="us flag"> </i></div>
              <div class="menu">
                <a class="item ja" href="javascript:void(0)" id="ja"> <i class="jp flag"></i>Japanese</a>
                <a class="item" data-value="Japanese"><i class="us flag"></i>English</a>
              </div>
            </div>   
        </span>
    <!-- / Lang Switch Mobile -->
    
    <!-- top-navigation -->
    <nav id="nav" class="main-navigation" role="navigation" style="">
    <div class="menu-topnav-container"><ul id="menu-topnav" class="nav-menu"><li id="menu-item-581" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-581"><a href="/en/docs/documents/1-1_what-is-griddb.php">Docs</a></li>
    <li id="menu-item-681" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-681"><a href="/en/faq/">FAQ</a></li>
    <li id="menu-item-671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-671"><a href="/en/community/">Community</a></li>
    <li id="menu-item-591" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-591"><a href="/en/forums/forum/top/">Forum</a></li>
    <li id="menu-item-291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-291"><a href="/en/blog">Blog</a></li>

    </ul>

    </div>
        
        <li style="list-style:none"><a href="/en/downloads/"> <span class="download-button4" style="display:none"> DOWNLOAD</span></a></li>
        
            <!--- Download Button  -->
           <a href="/en/downloads/"> <span id="download-button"> Download</span></a>
     <!-- / Download Button   --> 
        
    </nav>
    <!-- / top-navigation -->
         
    </div>        
        
    </header>
    
    